{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<div class="col-sm-5 offset-sm-3" style="background-color:white; border-radius: 10px; margin-top: 20px;">

    <form method="POST" action="" style="padding:30px;" >

        {{ form.hidden_tag() }}

        <div class="mb-3">
            <label for="current_password" class="form-label" > {{form.current_password.label}}</label>
            {{form.current_password}}
        </div>

        <div class="mb-3">
            <label for="new_password" class="form-label" > {{form.new_password.label}}</label>
            {{form.new_password}}
        </div>

        <div class="mb-3">
            <label for="confirm_new_password" class="form-label" > {{form.confirm_new_password.label}}</label>
            {{form.confirm_new_password}}
        </div>

        <div class="d-grid">
            {{ form.submit(class="btn btn-primary") }}
        </div>




    </form>
</div>



{% endblock %}